*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f6f2; /* soft luxury cream tone */
    color: #2b2b2b;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    letter-spacing: 1px;
}

header{
    position: relative;
    background-image: url(img/dcs.14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 70vh;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(
    to bottom,
    rgba(0,0,0,0.8),
    rgba(0,0,0,0.3)
); 
    z-index: 1;
    
}
.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 2;
}
.navbar .logo{
    width: 90px;
    height: auto;
    cursor: pointer;
}

.navbar .logo img{
    width: 100%;
    border-radius: 50%;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 1.2em;
}

.nav-links a{
    position: relative;
    text-decoration: none;
    color: #f8f6f2;
}
.nav-links a::before{
    position: absolute;
    content: "";
    width: 0;
    left: 50%;
    bottom: -2px;
    height: 1px;
    background-color: #f8f6f2;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.nav-links a:hover::before{
    width: 100%;
}
.mobile{
    display: none;
}

/* body.menu-open {
    overflow: hidden;
} */

.hero{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    color: #fff;
    max-width: 450px;
    
    z-index: 2;
}

.subtitle{
     font-size: 0.98em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: -20px;
    opacity: 0.85;
}
header h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.8em;
    font-weight: 600;
    margin-bottom: 25px;
}

.btn a{
    text-decoration: none;
    padding: 12px 35px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.4s  ease-in-out;
}

.btn a:hover{
    background-color: #fff;
    color: #000;
}

 /* Collection */


.section-head{
   
    text-align: center;
     margin: 60px;
}

.section-head h2{
     font-family: 'Cormorant Garamond', serif;
     font-size: 2.2em;
     font-weight: 500;
     letter-spacing: 2px;
}

.img-flexbox{
    margin-top: 60px;
    width: 100%;
}

.img-container{
    position: relative;
    display: flex;
    gap: 5px;
    height: 500px;
    align-items: stretch;
}
.img-container::before{
    position: absolute;
    content: "";
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(
          to right,
         rgba(25, 22, 18, 0.75) 0%,
        rgba(25, 22, 18, 0.45) 40%,
        rgba(25, 22, 18, 0.28) 95%,
        transparent 100%
    );
}
.left-img{
    flex: 1;
    
}
.left-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.right-img{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: hidden;
    
}
.top-row,
.bottom-row{
    display: flex;
    flex: 1;
}
.top-row img,
.bottom-row img{
    flex: 1;
    width: 50%;
    height: 100%;
    object-fit: cover;
    
}
img{
    transition: transform 0.4s ease;
}

img:hover{
    transform: scale(1.03);
}




/* pricing  */

.pricing-head{
    text-align: center;
    margin: 60px;
}

.pricing-head .label{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 12px;
    color:rgb(83, 83, 106) ;
    display: block;
    margin-bottom: 10px;
}

.pricing-head h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.6em;
    font-weight: 500;
    letter-spacing: 2px;
    color: #1a1a1a;
    margin-bottom: 15px;
}
.products-container {
    
    
  transition: transform 0.4s ease;        
}

.product-container{
    display: flex;
    gap: 3em;
    margin-top: 60px;
    transition: transform 0.4s ease-in-out ;
}

.product{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 25px 20px;
    align-items: center;
    text-align: center;
    border: 1px solid #1a1a1a;
    transition: all 0.4s ease;
}
.product:hover{
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.product .image{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
    
}

.product .image img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* transition: transform 0.3s ease; */
}
.product:hover img{
    transform: none;
}

.product .title h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.3;
    color: #1a1a1a;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
}

.product .description p{
    font-size: 0.98em;
    
    margin-bottom: 25px;
}

.product .btn a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 26px;
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.35s ease;
}

.product .btn a:hover{
    background:#1a1a1a ;
    color: white;
    border: 1px solid #fff;
    transform: translateY(-2px);
}

/* slider */

.slider{
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: auto;
}


.prev,
.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}
.prev{
    left: 5px;
}
.next{
    right: 5px;
}

.prev:hover,
.next:hover{
    background: #000;
}

.prev:disabled ,
.next:disabled{
    opacity:0.3;
    cursor: not-allowed;
}

/* about-section */

.about-head{
    margin:60px;
}


.section-head .subtitle{
    margin-bottom: -15px;
   
}

.section-head .subtitle span{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(83, 83, 106);
    display: block;
    margin-bottom: 10px;
    
}

.about-container{ 
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 10px 60px;
  max-width: 1200px;
  margin: 0 auto;
  
}

.about-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 30px 15px; 
    border-radius: 5px;
    
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    
}
.about-text:hover{
    transform: translateY(-6px);
    box-shadow: 0 18px 45px rgba(0,0,0,0.08);
}

/* .about-text::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 45px;
    
    height: 2px;
    background: #c9a96e; 
} */

.about-text span{
    display: block;
    font-family:'Montserrat', sans-serif ;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(83, 83, 106);
    margin-bottom: 60px;
}


.about-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 600;
    
    margin-bottom: 20px;
}

.about-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    
    margin-bottom: 15px;
}

.about-description{
    display: flex;
    gap: 20px;
    height: 100%;
}

.about-description p {
    flex: 1;                 /* each paragraph takes equal width */
    display: flex;
    flex-direction: column;  /* allows equal height stretching inside */
    justify-content: space-between; /* distribute text evenly */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.8;
   
}


.about-img{
    flex: 1;
   
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.about-img img{
    transition: transform 0.7s ease;
}

.about-img:hover img{
    transform: scale(1.03);
}
/* experience  */

.experience{
    padding: 100px 5%;
    background-color: #f8f6f2;
}

/* GRID */
.experience-container{
    
    max-width: 1200px;
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}



/* CARDS */
.experience-box{
    position: relative;
    padding: 30px 15px;
    text-align: center;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
   
}

.experience-box::before{
    content: "";
    position: absolute;
   top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}
.experience-box *{
    position: relative;
    z-index: 2;
    color: #ffffff;
}
.box-1{
    background-image:url(img/dcs.7.jpg) ;
    background-size: cover;
    background-position: center;
    
}

.box-2{
    background-image: url(img/dcs.17.jpg);
    background-size: cover;
     background-position: center;
}
.box-3{
    background-image:url(img/dcs.21.jpeg) ;
    background-size: cover;
     background-position: center;
}

.box-4{
    background-image:url(img/dcs.25.jpeg) ;
    background-size: cover;
     background-position: center;
}

/* Hover luxury effect */
.experience-box:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.28);
   
}

.experience-box h3{
    font-family: 'Playfair Display', serif;
    font-size: 2.2em;
  

}

.experience-box p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95em;
    line-height: 1.7;
    margin-top: 40px;
}

/* testimonials */


.testimonial-head span{
    color:rgb(83, 83, 106);
}

.testimonial-slider{
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f8f6f2;
    overflow: hidden;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    z-index: 1;
    
}

.testimonial-wrapper{
    position: relative;
    overflow: hidden;
    height: 100%;
}

.testimonial-track{
    position: relative;
    height: 100%;

}


.testimonial-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 70px;
    

    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.testimonial-container.active{
    opacity: 1;
    animation: luxuryFade 0.8s ease;
    z-index: 2;
}
@keyframes luxuryFade{
    0%{
        opacity:0;
        filter: brightness(1.25);
    }
    100%{
        opacity:1;
        filter: brightness(1);
    }
}

.testimonial-container::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.58);
    z-index: 1;
}

.testimonial-container > *{
    position: relative;
    z-index: 2;
}


.testimonial-0{
    background-image: url(img/dcs.2.jpg);
    background-size: cover;
   background-position: center 10%;
}

.testimonial-1{
    background-image: url(img/dcs.9.jpg);
    background-size: cover;
    background-position: center 10%;
}

.testimonial-2{
    background-image: url(img/dcs.13.jpg);
    background-size: cover;
    background-position: center 10%;
}



.quotes{
     max-width: 700px;
    margin:0 auto;
    text-align: center;
    color: #f5f3ef; /* soft luxury white */
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.quotes::before,
.quotes::after{
    color: #c5a47e;          /* luxury gold */
    font-size: 40px;
    font-weight: bold;
}

.client-name{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
   color: silver;          /* gold accent */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.test-prev,
.test-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    border: none;
    color: white;
    font-size: 16px;
    padding: 12px 16px;
    cursor: pointer;
    z-index: 10;
}

.test-prev{ left: 5px; }
.test-next{ right: 5px; }

.test-prev:hover,
.test-next:hover{
    background: #000;
}

/* footer  */


.footer{
    background-color: #111;
    color: #f5f5f5;
    padding: 70px 40px 20px;
}

/* GRID */
.footer-container{
    max-width: 1200px;
    margin: auto;
    display: grid;

    /* RESPONSIVE GRID */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    gap: 40px;
}

/* BOXES */
.footer-box h3{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 15px;
}

.footer-box img{
    width: 120px;
    height: auto;
    border-radius: 50%;
}
.footer-box h4{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.footer-box p{
    color: #bbb;
    line-height: 1.7;
    font-size: 14px;
}

/* LINKS */
.footer-box ul{
    list-style: none;
}

.footer-box ul li{
    margin-bottom: 10px;
}

.footer-box a{
    text-decoration: none;
    color: #bbb;
    transition: 0.3s;
}

.footer-box a:hover{
    color: #ffffff;
    padding-left: 5px;
}

.footer-social{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.footer-social a{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

/* Hover luxury effect */
.footer-social a:hover{
    background-color: #c5a47e; /* gold accent */
    border-color: #c5a47e;
    transform: translateY(-4px);
}

/* BOTTOM BAR */
.footer-bottom{
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 50px;
    padding-top: 20px;
    font-size: 13px;
    color: #888;
}

/* responsive design */


@media (max-width:768px) {

    header{
        min-height:90vh ;
    }
    .navbar ul{
        display: none;
    }
    .mobile{
        display: block;
        position: fixed;
        top: -600px;
        right: 0%;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgb(0, 0, 0, 0.8);
        transition:  ease 0.5s;
    }

    .mobile.active{
        top:0;
    }

    .mobile-links{
        flex-direction: column;
        text-align: center;
        
        padding: 30px 50px;
    }

    .mobile-links a{
        font-size: 1.8em;
        font-weight: 500;
    }
    .mobile-nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
    }
    .mobile-nav .logo img{
        border-radius: 50%;
        height: 80px;
        width: auto;
    }

    .burger-menu{
        position: absolute;
        top: 30px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        gap: 2px;
        height: 30px;
        cursor: pointer;
        z-index: 100;
    }
   
    .burger-menu span{
        height: 3px;
        width: 100%;
        background-color: white;
        transition: ease 0.5s;
    }

    .burger-menu.active span:nth-child(1){
        transform: rotate(45deg) translateY(18px);
    }

    .burger-menu.active span:nth-child(2){
        opacity: 0;
    }

    .burger-menu.active span:nth-child(3){
        transform:rotate(-45deg) translateY(-18px);
    }

    /* collection */

    .product{
        min-width: 80%;
    }
    

    

     .about-us{
        padding: 0px 30px;
    }

    .about-container{
        flex-direction: column-reverse;
    }
    
    .about-img{
        height: 100px;
    }
    .about-img img{
        height: auto;
    }

    .about-text{
        text-align: center;
        
    }

    .about-text span{
        display: block;
        margin-bottom: 10px;
    }
    

    .about-description p{
        font-size: 1.1em;
    }

    /* testimonial */
    
    .testimonial-slider{
        height: 90vh;
    }
    .testimonial-container{
        
    }
}